<p id="notice"><%= notice %></p>

<p>
  <b>Belongs to:</b>
  <%= @administrador.belongs_to %>
</p>


<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Back', administradors_path %>
